@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(160deg,#1ea08475,#51788ab2);
    min-height: 100vh;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 214px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 20px;
}
main p{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Oxanium';
    font-size: 15px;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 4px;
}
main #window{
    border-radius: 8px;
    margin: 20px 0;
    text-align: right;
    background: #fff;
    color: #000;
    height: 50px;
    width: 100%;
    padding: 12px 20px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    box-sizing: border-box;
    border: 1px solid #777;
    outline: none;
    font-size: 40px;
}
main div input[type='button'],
main div button{
    width: 50px;
    height: 50px;
    margin: 2px 0;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 5px;
    font-size: 25px;
}
input:hover{
    background: #8dc2ce;
}
button:hover{
    background: #71ce81;
}
/*#plus, #minus, #multi, #divi{
    color: #fff;
    background-color: #999;
}*/
.operator {
    color: #fff;
    background-color: #999;  
}
.operator:hover {
    background: #8dc2ce;
}
